* {
    margin: 0;
    padding: 0;
    border: 0;
    user-select:none;
}

body {
    font-size: 62.5%;
    color: #000;
}

ul {
    list-style-type: none;
}

.section {
    text-align: center;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    overflow: hidden;
}

.logo {
    text-align: center;
    margin: 0 auto;
    text-shadow: 1pt 1pt 2pt #ccc;
}

.text {
    text-shadow: 1pt 1pt 2pt #ccc;
}

.main-field a {
    text-decoration: none;
    color: #ea5413;
    display: inline-block;
    margin: 0 0.6em;
    width: 12em;
    cursor: pointer;
}

.main-field {
    font-size: 1.7em;
    font-weight: bold;
}


@media all and (orientation: landscape) {
    .logo img {
        width: 16em;
    }

    .project_logo img {
        width: 50em;
    }

    .text {
        font-size: 2.2em;
        line-height: 1.6em;
        margin: 0.3em 0 1em;
    }
    .btn {
        font-size: 1.7em;
        line-height: 1.7em;
        width: 9.8em;
        height: 2em;
        border-radius: 1em;
    }
}


@media all and (orientation: landscape) {
    #top {
        background-size: cover;
        background-image: url(https://www.loliapi.com/acg/);
    }
}
